//colors

$bg-soft: #edece4;
$bg-medium: #cdc6b9;
$bg-hard: #988c77;
$grey: #2a2426;
$green: green;
$font-1: 'PT Mono', monospace;
$font-2: 'Aref Ruqaa', serif;

@function em($pixel, $context: 16){
    @return calc($pixel / $context) + em;
}

@mixin type-1($size){
    font-family: $font-1;
    @if $size == 18 {
        font-size: em(18);
        line-height: em(30, 18);
    }
}   
@mixin type-2($size ){ 
    font-family: $font-2;
    @if $size == 18 {
        font-size: em(18);
        line-height: em(30, 18);
    }@else if $size == 24 {
        font-size: em(24);
        line-height: em(30, 24);
    }
}
@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}